.tableau-tasks {
    width: 100%;
    border-collapse: collapse;
    color: var(--main-color);
    background-color: var(--background-color);
    font-family: var(--font-family);
}

.tableau-tasks th,
.tableau-tasks td {
    text-align: left;
    padding: 8px;
    border: 1px solid var(--border-color-container);
}

.tableau-tasks thead {
    background-color: var(--background-color-sidebar);
}

.tableau-tasks tbody tr:nth-child(odd) {
    background-color: var(--background-color-input);
}

.tableau-tasks tbody tr:nth-child(even) {
    background-color: var(--background-color-input-hovered);
}

.user-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: var(--button-primary-color);
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
}

/* Styles pour le formulaire de filtrage */
.filter-form {
    text-align: center;
    padding: 15px;
    background-color: var(--background-color);
    color: var(--main-color);
    border-radius: 8px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.filter-group {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.filter-group label {
    display: block;
    color: var(--main-color);
    margin-bottom: 5px;
}

.filter-group select {
    padding: 5px 10px;
    background-color: var(--background-color-input);
    color: var(--main-color);
    border: 1px solid var(--border-color-input);
    border-radius: 4px;
}

.filter-button {
    padding: 7px 15px;
    background-color: var(--button-primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.filter-button:hover {
    background-color: var(--button-primary-color-hovered);
}
